.box {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
  transition-delay: 0.7s;
}
.box.show {
  opacity: 0.9;
  transform: translateY(0);
}

.box2 {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
  transition-delay: 1s;
}
// @font-face {
//   font-family: 'main';
//   font-style: bold;
  
//   src: url(../../public/font/DERMOSO/OpenType-TT/\
//   );
// }